/PILAgenda/nbproject/private/
/PILAgenda/PILAgenda-war/nbproject/private/
/PILAgenda/PILAgenda-ejb/nbproject/private/
/PILAgenda/PILAgenda-ejb/dist/
/PILAgenda/PILAgenda-ejb/build/
/PILAgenda/dist/
/PILAgenda/build/
/PILAgenda/PILAgenda-war/dist/
/PILAgenda/PILAgenda-war/build/
/dropbox/nbproject/private/